# backend
backend/.env
backend/go.sum
backend/go.mod

# frontend
frontend/.env

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

#

